[submodule "emsdk"]
	path = emsdk
	url = https://github.com/emscripten-core/emsdk.git
[submodule "lua"]
	path = lua
	url = https://github.com/lua/lua
[submodule "sol2"]
	path = sol2
	url = git@github.com:ThePhD/sol2.git
[submodule "spdlog"]
	path = spdlog
	url = https://github.com/gabime/spdlog
